[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-cors = "*"
flask-migrate = "*"
gunicorn = "*"
python-decouple = "*"
beautifulsoup4 = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
pymilvus = "*"
lxml = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.11"
